#You will need your own survey files and set the path into your local directory. 
#The following line is an example of how to ignore the survey files in the repository.

/UWSM Community Input Transcripts