#You will need your own survey files and set the path into your local directory. 
/UWSM Community Input Transcripts

# Python script in docx_to_txt.py converts .docx files to .txt files and saves them in the specified output folder.
/UWSM_Input_Transcaripts_txt


/.vscode
